@{
    ViewBag.Title = "TipMainPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Bps.Core.Web.Session
@model int?

<body>

    @using (Html.BeginForm())
    {
        @Html.Action("TipGridPartial", "Tanim")

        <script type="text/javascript">

            function FormTipKaydet() {
                bpsMain.submitForm('formTipEkle',
                    'gridTipi',
                    'ppTipEkle',
                    '@Html.Raw(Url.Action("TipKaydet", "Tanim", new {area=SessionHelper.ProjeKod}))',
                    @Model);
            }

        </script>
    }
</body>