@model string
<div id="@Model" class="card direct-chat direct-chat-primary">
    <div class="card-header ui-sortable-handle" style="cursor: move;">
        <h3 class="card-title">Direct Chat</h3>
        <div class="card-tools">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary  active">
                    <input type="radio" name="Card2Options" id="Card1Option1" value="1" autocomplete="off" checked> Aktif
                </label>
                <label class="btn btn-primary ">
                    <input type="radio" name="Card2Options" id="Card1Option2" value="0" autocomplete="off"> Pasif
                </label>
            </div>
            <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
        <form action="#" method="post">
            <div class="input-group">
                <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                <span class="input-group-append">
                    <button type="button" class="btn btn-primary">Send</button>
                </span>
            </div>
        </form>
    </div>
</div>
