@using Bps.BpsBase.Entities.Concrete.ST;
@using Bps.Core.Web.Model
@model List<STKART>

@{
    Html.DevExpress().GridView<STKART>(settings =>
    {
        settings.Name = "gridStkart";
        settings.KeyFieldName = "Id";
        settings.CallbackRouteValues = new {Controller = "---", Action ="StkartGp", area = "ST"};

        var yetki = (ProjeMenuListed)ViewData["YetkiModel"];
        var toolParam = new DevToolBarParam()
        {
            Grid = settings.Name,
            EkleUrl = Url.Action("StkartPartial", "---", new { area = "ST" }),
            DegistirUrl = Url.Action("StkartPartial", "---", new { area = "ST" }),
            SilUrl = Url.Action("StkartSil", "---", new { area = "ST" }),
            EklePopup = "ppStkartEkle", 
            DegistirPopup = "ppStkartDegistir", 
            EkleDiv = "stkartEkleDiv", 
            DegistirDiv = "stkartEkleDiv", 
            BelgeAkisDiv = "stkartBelgeAkisDiv", 
            YerlesimDiv = "stkartLayoutDiv", 
            TopluAktarDiv = "stkartTopluAktarDiv", 
            MenuTag = ((ProjeMenuListed)ViewData["YetkiModel"]).MNUTAG,
            Type = "STKART", 
            ItemList = new List<MVCxGridViewToolbarItem>()
        };

        @Html.Action("ToolBar", "Main", new
        {
            area = "", 
            settings,
            yetki = (ProjeMenuListed)ViewData["YetkiModel"],
            toolParam = toolParam
        });

        #region Columns

        settings.Columns.Add(column =>
        {
            column.FieldName = "Id";
            column.Visible = false;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "STKODU";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "STKNAM";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "STANKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "STALKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "STMLTR";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "STEKOD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "OLCUKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "SADEGK";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "SAOLKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "MALGKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "BRTAGR";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "NETAGR";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "AGOLKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "GNHACM";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "HCOLKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "EANTKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "EANKOD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "UZUNLK";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "GENSLK";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "YUKSLK";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "UGYBKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "KDVORN";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "EKKULL";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "ETARIH";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DEKULL";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DTARIH";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "CHKCTR";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        #endregion Columns

        GridViewHelper<STKART>.SettingsWihoutColumns(settings, new STKART());
    }).Bind(Model).Render();
}

<div id="stkartEkleDiv"></div>
<div id="stkartLayoutDiv"></div>
<div id="stkartBelgeAkisDiv"></div>
<div id="stkartTopluAktarDiv"></div>
