@using Bps.BpsBase.Entities.Concrete;
@using Bps.Core.Web.Model
@model List<Logs>

@{
    Html.DevExpress().GridView<Logs>(settings =>
    {
        settings.Name = "gridLogs";
        settings.KeyFieldName = "Id";
        settings.CallbackRouteValues = new {Controller = "---", Action ="LogsGp", area = ""};

        var yetki = (ProjeMenuListed)ViewData["YetkiModel"];
        var toolParam = new DevToolBarParam()
        {
            Grid = settings.Name,
            EkleUrl = Url.Action("LogsPartial", "---", new { area = "" }),
            DegistirUrl = Url.Action("LogsPartial", "---", new { area = "" }),
            SilUrl = Url.Action("LogsSil", "---", new { area = "" }),
            EklePopup = "ppLogsEkle", 
            DegistirPopup = "ppLogsDegistir", 
            EkleDiv = "logsEkleDiv", 
            DegistirDiv = "logsEkleDiv", 
            BelgeAkisDiv = "logsBelgeAkisDiv", 
            YerlesimDiv = "logsLayoutDiv", 
            TopluAktarDiv = "logsTopluAktarDiv", 
            MenuTag = ((ProjeMenuListed)ViewData["YetkiModel"]).MNUTAG,
            Type = "Logs", 
            ItemList = new List<MVCxGridViewToolbarItem>()
        };

        @Html.Action("ToolBar", "Main", new
        {
            area = "", 
            settings,
            yetki = (ProjeMenuListed)ViewData["YetkiModel"],
            toolParam = toolParam
        });

        #region Columns

        settings.Columns.Add(column =>
        {
            column.FieldName = "Id";
            column.Visible = false;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "Detail";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "Date";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "Audit";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "UserKod";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "ProjeKod";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "KaynakKod";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "IsCompare";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "TEKNAD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "TableId";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        #endregion Columns

        GridViewHelper<Logs>.SettingsWihoutColumns(settings, new Logs());
    }).Bind(Model).Render();
}

<div id="logsEkleDiv"></div>
<div id="logsLayoutDiv"></div>
<div id="logsBelgeAkisDiv"></div>
<div id="logsTopluAktarDiv"></div>
