@using Bps.BpsBase.Entities.Concrete.KS;
@using Bps.Core.Web.Model
@model List<KSKASA>

@{
    Html.DevExpress().GridView<KSKASA>(settings =>
    {
        settings.Name = "gridKskasa";
        settings.KeyFieldName = "Id";
        settings.CallbackRouteValues = new {Controller = "---", Action ="KskasaGp", area = "KS"};

        var yetki = (ProjeMenuListed)ViewData["YetkiModel"];
        var toolParam = new DevToolBarParam()
        {
            Grid = settings.Name,
            EkleUrl = Url.Action("KskasaPartial", "---", new { area = "KS" }),
            DegistirUrl = Url.Action("KskasaPartial", "---", new { area = "KS" }),
            SilUrl = Url.Action("KskasaSil", "---", new { area = "KS" }),
            EklePopup = "ppKskasaEkle", 
            DegistirPopup = "ppKskasaDegistir", 
            EkleDiv = "kskasaEkleDiv", 
            DegistirDiv = "kskasaEkleDiv", 
            BelgeAkisDiv = "kskasaBelgeAkisDiv", 
            YerlesimDiv = "kskasaLayoutDiv", 
            TopluAktarDiv = "kskasaTopluAktarDiv", 
            MenuTag = ((ProjeMenuListed)ViewData["YetkiModel"]).MNUTAG,
            Type = "KSKASA", 
            ItemList = new List<MVCxGridViewToolbarItem>()
        };

        @Html.Action("ToolBar", "Main", new
        {
            area = "", 
            settings,
            yetki = (ProjeMenuListed)ViewData["YetkiModel"],
            toolParam = toolParam
        });

        #region Columns

        settings.Columns.Add(column =>
        {
            column.FieldName = "Id";
            column.Visible = false;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "EKKULL";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "ETARIH";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DEKULL";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DTARIH";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "KSTPKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "KSKODU";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "KSISIM";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "HSPKOD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "KSDVCN";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "UFRHSP";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        #endregion Columns

        GridViewHelper<KSKASA>.SettingsWihoutColumns(settings, new KSKASA());
    }).Bind(Model).Render();
}

<div id="kskasaEkleDiv"></div>
<div id="kskasaLayoutDiv"></div>
<div id="kskasaBelgeAkisDiv"></div>
<div id="kskasaTopluAktarDiv"></div>
