@using Bps.BpsBase.Entities.Models.GN.Listed
@using Bps.Core.Web.Model
@model List<TipHareketListModel>

@{
    Html.DevExpress().GridView<TipHareketListModel>(settings =>
    {
        settings.Name = "gridTipHareket";
        settings.KeyFieldName = "Id";

        var toolParam = new DevToolBarParam()
        {
            Grid = settings.Name,
            EkleUrl = Url.Action("TipHrkEkleWindow", "Tanim", new { area = "GN" }),
            DegistirUrl = Url.Action("TipHrkEkleWindow", "Tanim", new { area = "GN" }),
            SilUrl = Url.Action("TipHrkSil", "Tanim", new { area = "GN" }),
            EklePopup = "ppTipHrkEkle",
            DegistirPopup = "ppTipHrkEkle",
            EkleDiv = "tipHrkEkleDiv",
            DegistirDiv = "tipHrkEkleDiv",
            YerlesimDiv = "tipHrkLayoutDiv",
            BelgeAkisDiv = "tipHrkBelgeAkisDiv",
            MenuTag = ((ProjeMenuListed)ViewData["YetkiModel"]).MNUTAG,
            Type = "GNTHRK",
            ExcluldeList = new List<string>() { "tb_Add", "tb_Edit" },
            ItemList = new List<MVCxGridViewToolbarItem>()
        };
        settings.CallbackRouteValues = new { Controller = "Tanim", Action = "TipHareketGridPartial" };
        settings.ClientSideEvents.BeginCallback = "function(s,e){" +
                                                  "e.customArgs['menuTag'] =" + ((ProjeMenuListed)ViewData["YetkiModel"]).MNUTAG + ";" +
                                                  "e.customArgs['tipKod'] = cmb_TipHareket_Tip.GetValue();" +
                                                  "}";

        var yetki = (ProjeMenuListed)ViewData["YetkiModel"];
        #region Toolbar

        var addButton = new MVCxGridViewToolbarItem();
        addButton.Text = "Ekle";
        addButton.Name = "tb_Add";
        addButton.Enabled = yetki.EKLEME == 1;
        addButton.Command = GridViewToolbarCommand.Custom;
        addButton.NavigateUrl = @"javascript:TipHrkScript.Ekle('" + toolParam.EkleDiv + "', '" + toolParam.EklePopup + "', " + "'" + toolParam.EkleUrl + "'," + toolParam.MenuTag + ")";
        addButton.Image.IconID = IconID.ActionsNew16x16;

        var editButton = new MVCxGridViewToolbarItem();
        editButton.Text = "Değiştir";
        editButton.Name = "tb_Edit";
        editButton.Enabled = yetki.DEGIST == 1;
        editButton.Command = GridViewToolbarCommand.Custom;
        editButton.NavigateUrl = @"javascript:TipHrkScript.Degistir('" + toolParam.DegistirDiv + "', '" + toolParam.Grid + "', '" + toolParam.DegistirPopup + "', " + "'" + toolParam.DegistirUrl + "'," + toolParam.MenuTag + ")";
        editButton.Image.IconID = IconID.ActionsEdit16x16devav;

        var backButton = new MVCxGridViewToolbarItem();
        backButton.Text = "Geri";
        backButton.Name = "tb_Back";
        backButton.Command = GridViewToolbarCommand.Custom;
        backButton.NavigateUrl = @"javascript:pageControlTipHareket.SetActiveTabIndex(0);";
        backButton.Image.IconID = IconID.NavigationBackward16x16;

        toolParam.ItemList.Add(addButton);
        toolParam.ItemList.Add(editButton);
        toolParam.ItemList.Add(backButton);

        @Html.Action("ToolBar", "Main", new
        {
            area = "",
            settings,
            yetki = (ProjeMenuListed)ViewData["YetkiModel"],
            toolParam = toolParam
        });

        #endregion

        GridViewHelper<TipHareketListModel>.Settings(settings, new TipHareketListModel());
    }).Bind(Model).Render();
}
<div id="tipHrkEkleDiv">
</div>
<div id="tipHrkLayoutDiv">
</div>
<div id="tipHrkBelgeAkisDiv">
</div>
<div id="tipHrkTopluAktDiv">
</div>