.dropZoneExternal > div,
.dropZoneExternal > img
{
    position: absolute;
}
.dropZoneExternal
{
    position: relative;
    border: 1px dashed #f17f21!important;
    cursor: pointer;
}
.dropZoneExternal,
.dragZoneText
{
    width: 100%;
    max-width: 350px;
    min-width: 286px;
    height: 350px;
}
#dragZone
{
    width: 100%;
    display: table;
}
#uploadedImage
{
    /*width: 100%;*/
}
.dropZoneText
{
    width: 300px;
    height: 150px;
    color: #fff;
    background-color: #888;
}
#dropZone
{
    top: 0;
    padding: 100px 25px;
}
.uploadControlDropZone
{
    display: none;
}
.dropZoneText,
.dragZoneText
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20pt;
}
.dragZoneText
{
    color: #808080;
}
.dxucInlineDropZoneSys span
{
    color: #fff!important;
    font-size: 10pt;
    font-weight: normal!important;
}
.validationMessage
{
    padding: 0 20px;
    text-align: center;
}
.uploadContainer
{
    width: 100%;
    max-width: 350px;
    min-width: 286px;
    margin-top: 10px;
}
.Note
{
    max-width: 500px;
}