@using Bps.BpsBase.Entities.Concrete.GN;
@using Bps.Core.Web.Model
@model List<GNDPTN>

@{
    Html.DevExpress().GridView<GNDPTN>(settings =>
    {
        settings.Name = "gridGndptn";
        settings.KeyFieldName = "Id";
        settings.CallbackRouteValues = new {Controller = "---", Action ="GndptnGp", area = "GN"};

        var yetki = (ProjeMenuListed)ViewData["YetkiModel"];
        var toolParam = new DevToolBarParam()
        {
            Grid = settings.Name,
            EkleUrl = Url.Action("GndptnPartial", "---", new { area = "GN" }),
            DegistirUrl = Url.Action("GndptnPartial", "---", new { area = "GN" }),
            SilUrl = Url.Action("GndptnSil", "---", new { area = "GN" }),
            EklePopup = "ppGndptnEkle", 
            DegistirPopup = "ppGndptnDegistir", 
            EkleDiv = "gndptnEkleDiv", 
            DegistirDiv = "gndptnEkleDiv", 
            BelgeAkisDiv = "gndptnBelgeAkisDiv", 
            YerlesimDiv = "gndptnLayoutDiv", 
            TopluAktarDiv = "gndptnTopluAktarDiv", 
            MenuTag = ((ProjeMenuListed)ViewData["YetkiModel"]).MNUTAG,
            Type = "GNDPTN", 
            ItemList = new List<MVCxGridViewToolbarItem>()
        };

        @Html.Action("ToolBar", "Main", new
        {
            area = "", 
            settings,
            yetki = (ProjeMenuListed)ViewData["YetkiModel"],
            toolParam = toolParam
        });

        #region Columns

        settings.Columns.Add(column =>
        {
            column.FieldName = "Id";
            column.Visible = false;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "URYRKD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DPKODU";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DPTANM";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "MIPGOS";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "EKKULL";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "ETARIH";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DEKULL";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DTARIH";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "CHKCTR";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        #endregion Columns

        GridViewHelper<GNDPTN>.SettingsWihoutColumns(settings, new GNDPTN());
    }).Bind(Model).Render();
}

<div id="gndptnEkleDiv"></div>
<div id="gndptnLayoutDiv"></div>
<div id="gndptnBelgeAkisDiv"></div>
<div id="gndptnTopluAktarDiv"></div>
