@using Bps.BpsBase.Entities.Concrete.GN;
@using Bps.Core.Web.Model
@model List<GNYETK>

@{
    Html.DevExpress().GridView<GNYETK>(settings =>
    {
        settings.Name = "gridGnyetk";
        settings.KeyFieldName = "Id";
        settings.CallbackRouteValues = new {Controller = "---", Action ="GnyetkGp", area = "GN"};

        var yetki = (ProjeMenuListed)ViewData["YetkiModel"];
        var toolParam = new DevToolBarParam()
        {
            Grid = settings.Name,
            EkleUrl = Url.Action("GnyetkPartial", "---", new { area = "GN" }),
            DegistirUrl = Url.Action("GnyetkPartial", "---", new { area = "GN" }),
            SilUrl = Url.Action("GnyetkSil", "---", new { area = "GN" }),
            EklePopup = "ppGnyetkEkle", 
            DegistirPopup = "ppGnyetkDegistir", 
            EkleDiv = "gnyetkEkleDiv", 
            DegistirDiv = "gnyetkEkleDiv", 
            BelgeAkisDiv = "gnyetkBelgeAkisDiv", 
            YerlesimDiv = "gnyetkLayoutDiv", 
            TopluAktarDiv = "gnyetkTopluAktarDiv", 
            MenuTag = ((ProjeMenuListed)ViewData["YetkiModel"]).MNUTAG,
            Type = "GNYETK", 
            ItemList = new List<MVCxGridViewToolbarItem>()
        };

        @Html.Action("ToolBar", "Main", new
        {
            area = "", 
            settings,
            yetki = (ProjeMenuListed)ViewData["YetkiModel"],
            toolParam = toolParam
        });

        #region Columns

        settings.Columns.Add(column =>
        {
            column.FieldName = "Id";
            column.Visible = false;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "KULKOD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "PROKOD";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "MNUNAM";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "MNUTAG";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "EKLEME";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DEGIST";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "KAYDET";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "SILMEK";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "GRNTLM";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "PDFGOS";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "EXCGOS";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "YAZDIR";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "CSVGOS";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "XMLGOS";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DOCGOS";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "EKKULL";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "ETARIH";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DEKULL";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "DTARIH";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "CHKCTR";
            column.Visible = true;
            column.MaxWidth = 2000;
            column.MinWidth = 150;
            column.ColumnType = MVCxGridViewColumnType.CheckBox;
            column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
            var prop = (EditProperties)column.PropertiesEdit;
            prop.ValidationSettings.RequiredField.IsRequired = true;
        });

        #endregion Columns

        GridViewHelper<GNYETK>.SettingsWihoutColumns(settings, new GNYETK());
    }).Bind(Model).Render();
}

<div id="gnyetkEkleDiv"></div>
<div id="gnyetkLayoutDiv"></div>
<div id="gnyetkBelgeAkisDiv"></div>
<div id="gnyetkTopluAktarDiv"></div>
