<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
      <file value="C://Log//log.json" />
      <layout type="Bps.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
    </appender>
    <appender name="SqlServerAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--<connectionString value="Data Source=sql2012.isimtescil.net; Initial Catalog=EFIARC; User ID=efibase;Password=Erdalfatihilkay20?"/>-->
      <!--<connectionString value="Data Source=SUNUCU; Initial Catalog=EFIARC; User ID=sa; Password=8051f122ibg;" providerName="System.Data.SqlClient" />-->
      <connectionString value="Data Source=IGMS\MSSQL19; Initial Catalog=EFIBALA; User Id=sa; Password=8051f122ibg;" providerName="System.Data.SqlClient" />
      <commandText value="INSERT INTO Logs ([Detail],[Date],[Audit],[UserKod],[ProjeKod],[KaynakKod],[IsCompare],[TEKNAD],[TableId]) 
                   VALUES (@logDetail,@log_date,@audit,@userKod,@projeKod,@kaynakKod,@isCompare,@teknAd,@tableId)" />
      <parameter>
        <parameterName value="@logDetail" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="Bps.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@audit" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
      <parameter>
        <parameterName value="@userKod"/>
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{userKod}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@projeKod"/>
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{projeKod}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@kaynakKod"/>
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{kaynakKod}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@isCompare"/>
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{isCompare}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@teknAd"/>
        <dbType value="String" />
        <size value="6" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{teknAd}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@tableId"/>
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{tableId}" />
        </layout>
      </parameter>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="" />
      <from value="" />
      <subject value="Çilek Portal Hata Bilgilendirme" />
      <smtpHost value="smtp.office365.com" />
      <port value="587"/>
      <bufferSize value="512" />
      <authentication value="Basic" />
      <EnableSsl value="true" />
      <username value="****"/>
      <password value="****"/>
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>
    <logger name="JsonFileLogger">
      <level value="ALL" />
      <appender-ref ref="JsonFileAppender" />
    </logger>
    <logger name="DatabaseLogger">
      <level value="All" />
      <appender-ref ref="SqlServerAppender" />
    </logger>
    <logger name="EmailLogger">
      <level value="Error" />
      <appender-ref ref="SmtpAppender" />
    </logger>
  </log4net>
</configuration>