
.AD {
    background: url(../Assets/Images/languages/AD.svg) no-repeat;
}

.AE {
    background: url(../Assets/Images/languages/AE.svg) no-repeat;
}

.AF {
    background: url(../Assets/Images/languages/AF.svg) no-repeat;
}

.AG {
    background: url(../Assets/Images/languages/AG.svg) no-repeat;
}

.AI {
    background: url(../Assets/Images/languages/AI.svg) no-repeat;
}

.AL {
    background: url(../Assets/Images/languages/AL.svg) no-repeat;
}

.AM {
    background: url(../Assets/Images/languages/AM.svg) no-repeat;
}

.AO {
    background: url(../Assets/Images/languages/AO.svg) no-repeat;
}

.AR {
    background: url(../Assets/Images/languages/AR.svg) no-repeat;
}

.AS {
    background: url(../Assets/Images/languages/AS.svg) no-repeat;
}

.AT {
    background: url(../Assets/Images/languages/AT.svg) no-repeat;
}

.AU {
    background: url(../Assets/Images/languages/AU.svg) no-repeat;
}

.AW {
    background: url(../Assets/Images/languages/AW.svg) no-repeat;
}

.AX {
    background: url(../Assets/Images/languages/AX.svg) no-repeat;
}

.AZ {
    background: url(../Assets/Images/languages/AZ.svg) no-repeat;
}

.BA {
    background: url(../Assets/Images/languages/BA.svg) no-repeat;
}

.BB {
    background: url(../Assets/Images/languages/BB.svg) no-repeat;
}

.BD {
    background: url(../Assets/Images/languages/BD.svg) no-repeat;
}

.BE {
    background: url(../Assets/Images/languages/BE.svg) no-repeat;
}

.BF {
    background: url(../Assets/Images/languages/BF.svg) no-repeat;
}

.BG {
    background: url(../Assets/Images/languages/BG.svg) no-repeat;
}

.BH {
    background: url(../Assets/Images/languages/BH.svg) no-repeat;
}

.BI {
    background: url(../Assets/Images/languages/BI.svg) no-repeat;
}

.BJ {
    background: url(../Assets/Images/languages/BJ.svg) no-repeat;
}

.BL {
    background: url(../Assets/Images/languages/BL.svg) no-repeat;
}

.BM {
    background: url(../Assets/Images/languages/BM.svg) no-repeat;
}

.BN {
    background: url(../Assets/Images/languages/BN.svg) no-repeat;
}

.BO {
    background: url(../Assets/Images/languages/BO.svg) no-repeat;
}

.BR {
    background: url(../Assets/Images/languages/BR.svg) no-repeat;
}

.BS {
    background: url(../Assets/Images/languages/BS.svg) no-repeat;
}

.BT {
    background: url(../Assets/Images/languages/BT.svg) no-repeat;
}

.BV {
    background: url(../Assets/Images/languages/BV.svg) no-repeat;
}

.BW {
    background: url(../Assets/Images/languages/BW.svg) no-repeat;
}

.BY {
    background: url(../Assets/Images/languages/BY.svg) no-repeat;
}

.BZ {
    background: url(../Assets/Images/languages/BZ.svg) no-repeat;
}

.CA {
    background: url(../Assets/Images/languages/CA.svg) no-repeat;
}

.CC {
    background: url(../Assets/Images/languages/CC.svg) no-repeat;
}

.CD {
    background: url(../Assets/Images/languages/CD.svg) no-repeat;
}

.CF {
    background: url(../Assets/Images/languages/CF.svg) no-repeat;
}

.CG {
    background: url(../Assets/Images/languages/CG.svg) no-repeat;
}

.CH {
    background: url(../Assets/Images/languages/CH.svg) no-repeat;
}

.CI {
    background: url(../Assets/Images/languages/CI.svg) no-repeat;
}

.CK {
    background: url(../Assets/Images/languages/CK.svg) no-repeat;
}

.CL {
    background: url(../Assets/Images/languages/CL.svg) no-repeat;
}

.CM {
    background: url(../Assets/Images/languages/CM.svg) no-repeat;
}

.CN {
    background: url(../Assets/Images/languages/CN.svg) no-repeat;
}

.CO {
    background: url(../Assets/Images/languages/CO.svg) no-repeat;
}

.CR {
    background: url(../Assets/Images/languages/CR.svg) no-repeat;
}

.CU {
    background: url(../Assets/Images/languages/CU.svg) no-repeat;
}

.CV {
    background: url(../Assets/Images/languages/CV.svg) no-repeat;
}

.CW {
    background: url(../Assets/Images/languages/CW.svg) no-repeat;
}

.CX {
    background: url(../Assets/Images/languages/CX.svg) no-repeat;
}

.CY {
    background: url(../Assets/Images/languages/CY.svg) no-repeat;
}

.CZ {
    background: url(../Assets/Images/languages/CZ.svg) no-repeat;
}

.de {
    background: url(../Assets/Images/languages/DE.svg) no-repeat;
}

.DJ {
    background: url(../Assets/Images/languages/DJ.svg) no-repeat;
}

.DK {
    background: url(../Assets/Images/languages/DK.svg) no-repeat;
}

.DM {
    background: url(../Assets/Images/languages/DM.svg) no-repeat;
}

.DO {
    background: url(../Assets/Images/languages/DO.svg) no-repeat;
}

.DZ {
    background: url(../Assets/Images/languages/DZ.svg) no-repeat;
}

.ec {
    background: url(../Assets/Images/languages/EC.svg) no-repeat;
}

.ee {
    background: url(../Assets/Images/languages/EE.svg) no-repeat;
}

.eg {
    background: url(../Assets/Images/languages/EG.svg) no-repeat;
}

.er {
    background: url(../Assets/Images/languages/ER.svg) no-repeat;
}

.es {
    background: url(../Assets/Images/languages/ES.svg) no-repeat;
}

.et {
    background: url(../Assets/Images/languages/ET.svg) no-repeat;
}

.eu {
    background: url(../Assets/Images/languages/EU.svg) no-repeat;
}

.fi {
    background: url(../Assets/Images/languages/FI.svg) no-repeat;
}

.fj {
    background: url(../Assets/Images/languages/FJ.svg) no-repeat;
}

.fk {
    background: url(../Assets/Images/languages/FK.svg) no-repeat;
}

.FM {
    background: url(../Assets/Images/languages/FM.svg) no-repeat;
}

.FO {
    background: url(../Assets/Images/languages/FO.svg) no-repeat;
}

.fr {
    background: url(../Assets/Images/languages/FR.svg) no-repeat;
}

.GA {
    background: url(../Assets/Images/languages/GA.svg) no-repeat;
}

.GB-ENG {
    background: url(../Assets/Images/languages/GB-ENG.svg) no-repeat;
}

.GB-NIR {
    background: url(../Assets/Images/languages/GB-NIR.svg) no-repeat;
}

.GB-SCT {
    background: url(../Assets/Images/languages/GB-SCT.svg) no-repeat;
}

.GB-WLS {
    background: url(../Assets/Images/languages/GB-WLS.svg) no-repeat;
}

.GB-ZET {
    background: url(../Assets/Images/languages/GB-ZET.svg) no-repeat;
}

.en-GB {
    background: url(../Assets/Images/languages/GB.svg) no-repeat;
}

.GD {
    background: url(../Assets/Images/languages/GD.svg) no-repeat;
}

.GE {
    background: url(../Assets/Images/languages/GE.svg) no-repeat;
}

.GF {
    background: url(../Assets/Images/languages/GF.svg) no-repeat;
}

.GG {
    background: url(../Assets/Images/languages/GG.svg) no-repeat;
}

.GH {
    background: url(../Assets/Images/languages/GH.svg) no-repeat;
}

.GI {
    background: url(../Assets/Images/languages/GI.svg) no-repeat;
}

.GL {
    background: url(../Assets/Images/languages/GL.svg) no-repeat;
}

.GM {
    background: url(../Assets/Images/languages/GM.svg) no-repeat;
}

.GN {
    background: url(../Assets/Images/languages/GN.svg) no-repeat;
}

.GP {
    background: url(../Assets/Images/languages/GP.svg) no-repeat;
}

.GQ {
    background: url(../Assets/Images/languages/GQ.svg) no-repeat;
}

.GR {
    background: url(../Assets/Images/languages/GR.svg) no-repeat;
}

.GS {
    background: url(../Assets/Images/languages/GS.svg) no-repeat;
}

.GT {
    background: url(../Assets/Images/languages/GT.svg) no-repeat;
}

.GU {
    background: url(../Assets/Images/languages/GU.svg) no-repeat;
}

.GW {
    background: url(../Assets/Images/languages/GW.svg) no-repeat;
}

.GY {
    background: url(../Assets/Images/languages/GY.svg) no-repeat;
}

.HK {
    background: url(../Assets/Images/languages/HK.svg) no-repeat;
}

.HM {
    background: url(../Assets/Images/languages/HM.svg) no-repeat;
}

.HN {
    background: url(../Assets/Images/languages/HN.svg) no-repeat;
}

.HR {
    background: url(../Assets/Images/languages/HR.svg) no-repeat;
}

.HT {
    background: url(../Assets/Images/languages/HT.svg) no-repeat;
}

.HU {
    background: url(../Assets/Images/languages/HU.svg) no-repeat;
}

.ID {
    background: url(../Assets/Images/languages/ID.svg) no-repeat;
}

.IE {
    background: url(../Assets/Images/languages/IE.svg) no-repeat;
}

.IL {
    background: url(../Assets/Images/languages/IL.svg) no-repeat;
}

.IM {
    background: url(../Assets/Images/languages/IM.svg) no-repeat;
}

.IN {
    background: url(../Assets/Images/languages/IN.svg) no-repeat;
}

.IO {
    background: url(../Assets/Images/languages/IO.svg) no-repeat;
}

.IQ {
    background: url(../Assets/Images/languages/IQ.svg) no-repeat;
}

.IR {
    background: url(../Assets/Images/languages/IR.svg) no-repeat;
}

.IS {
    background: url(../Assets/Images/languages/IS.svg) no-repeat;
}

.it {
    background: url(../Assets/Images/languages/IT.svg) no-repeat;
}

.JE {
    background: url(../Assets/Images/languages/JE.svg) no-repeat;
}

.JM {
    background: url(../Assets/Images/languages/JM.svg) no-repeat;
}

.JO {
    background: url(../Assets/Images/languages/JO.svg) no-repeat;
}

.JP {
    background: url(../Assets/Images/languages/JP.svg) no-repeat;
}

.KE {
    background: url(../Assets/Images/languages/KE.svg) no-repeat;
}

.KG {
    background: url(../Assets/Images/languages/KG.svg) no-repeat;
}

.KH {
    background: url(../Assets/Images/languages/KH.svg) no-repeat;
}

.KI {
    background: url(../Assets/Images/languages/KI.svg) no-repeat;
}

.KM {
    background: url(../Assets/Images/languages/KM.svg) no-repeat;
}

.KN {
    background: url(../Assets/Images/languages/KN.svg) no-repeat;
}

.KP {
    background: url(../Assets/Images/languages/KP.svg) no-repeat;
}

.KR {
    background: url(../Assets/Images/languages/KR.svg) no-repeat;
}

.KW {
    background: url(../Assets/Images/languages/KW.svg) no-repeat;
}

.KY {
    background: url(../Assets/Images/languages/KY.svg) no-repeat;
}

.KZ {
    background: url(../Assets/Images/languages/KZ.svg) no-repeat;
}

.LA {
    background: url(../Assets/Images/languages/LA.svg) no-repeat;
}

.LB {
    background: url(../Assets/Images/languages/LB.svg) no-repeat;
}

.LC {
    background: url(../Assets/Images/languages/LC.svg) no-repeat;
}

.LGBT {
    background: url(../Assets/Images/languages/LGBT.svg) no-repeat;
}

.LI {
    background: url(../Assets/Images/languages/LI.svg) no-repeat;
}

.LK {
    background: url(../Assets/Images/languages/LK.svg) no-repeat;
}

.LR {
    background: url(../Assets/Images/languages/LR.svg) no-repeat;
}

.LS {
    background: url(../Assets/Images/languages/LS.svg) no-repeat;
}

.LT {
    background: url(../Assets/Images/languages/LT.svg) no-repeat;
}

.LU {
    background: url(../Assets/Images/languages/LU.svg) no-repeat;
}

.LV {
    background: url(../Assets/Images/languages/LV.svg) no-repeat;
}

.LY {
    background: url(../Assets/Images/languages/LY.svg) no-repeat;
}

.MA {
    background: url(../Assets/Images/languages/MA.svg) no-repeat;
}

.MC {
    background: url(../Assets/Images/languages/MC.svg) no-repeat;
}

.MD {
    background: url(../Assets/Images/languages/MD.svg) no-repeat;
}

.ME {
    background: url(../Assets/Images/languages/ME.svg) no-repeat;
}

.MF {
    background: url(../Assets/Images/languages/MF.svg) no-repeat;
}

.MG {
    background: url(../Assets/Images/languages/MG.svg) no-repeat;
}

.MH {
    background: url(../Assets/Images/languages/MH.svg) no-repeat;
}

.MK {
    background: url(../Assets/Images/languages/MK.svg) no-repeat;
}

.ML {
    background: url(../Assets/Images/languages/ML.svg) no-repeat;
}

.MM {
    background: url(../Assets/Images/languages/MM.svg) no-repeat;
}

.MN {
    background: url(../Assets/Images/languages/MN.svg) no-repeat;
}

.MO {
    background: url(../Assets/Images/languages/MO.svg) no-repeat;
}

.MP {
    background: url(../Assets/Images/languages/MP.svg) no-repeat;
}

.MQ {
    background: url(../Assets/Images/languages/MQ.svg) no-repeat;
}

.MR {
    background: url(../Assets/Images/languages/MR.svg) no-repeat;
}

.MS {
    background: url(../Assets/Images/languages/MS.svg) no-repeat;
}

.MT {
    background: url(../Assets/Images/languages/MT.svg) no-repeat;
}

.MU {
    background: url(../Assets/Images/languages/MU.svg) no-repeat;
}

.MV {
    background: url(../Assets/Images/languages/MV.svg) no-repeat;
}

.MW {
    background: url(../Assets/Images/languages/MW.svg) no-repeat;
}

.MX {
    background: url(../Assets/Images/languages/MX.svg) no-repeat;
}

.MY {
    background: url(../Assets/Images/languages/MY.svg) no-repeat;
}

.MZ {
    background: url(../Assets/Images/languages/MZ.svg) no-repeat;
}

.NA {
    background: url(../Assets/Images/languages/NA.svg) no-repeat;
}

.NC {
    background: url(../Assets/Images/languages/NC.svg) no-repeat;
}

.NE {
    background: url(../Assets/Images/languages/NE.svg) no-repeat;
}

.NF {
    background: url(../Assets/Images/languages/NF.svg) no-repeat;
}

.NG {
    background: url(../Assets/Images/languages/NG.svg) no-repeat;
}

.NI {
    background: url(../Assets/Images/languages/NI.svg) no-repeat;
}

.NL {
    background: url(../Assets/Images/languages/NL.svg) no-repeat;
}

.NO {
    background: url(../Assets/Images/languages/NO.svg) no-repeat;
}

.NP {
    background: url(../Assets/Images/languages/NP.svg) no-repeat;
}

.NR {
    background: url(../Assets/Images/languages/NR.svg) no-repeat;
}

.NU {
    background: url(../Assets/Images/languages/NU.svg) no-repeat;
}

.NZ {
    background: url(../Assets/Images/languages/NZ.svg) no-repeat;
}

.OM {
    background: url(../Assets/Images/languages/OM.svg) no-repeat;
}

.PA {
    background: url(../Assets/Images/languages/PA.svg) no-repeat;
}

.PE {
    background: url(../Assets/Images/languages/PE.svg) no-repeat;
}

.PF {
    background: url(../Assets/Images/languages/PF.svg) no-repeat;
}

.PG {
    background: url(../Assets/Images/languages/PG.svg) no-repeat;
}

.PH {
    background: url(../Assets/Images/languages/PH.svg) no-repeat;
}

.PK {
    background: url(../Assets/Images/languages/PK.svg) no-repeat;
}

.PL {
    background: url(../Assets/Images/languages/PL.svg) no-repeat;
}

.PM {
    background: url(../Assets/Images/languages/PM.svg) no-repeat;
}

.PN {
    background: url(../Assets/Images/languages/PN.svg) no-repeat;
}

.PR {
    background: url(../Assets/Images/languages/PR.svg) no-repeat;
}

.PS {
    background: url(../Assets/Images/languages/PS.svg) no-repeat;
}

.PT {
    background: url(../Assets/Images/languages/PT.svg) no-repeat;
}

.PW {
    background: url(../Assets/Images/languages/PW.svg) no-repeat;
}

.PY {
    background: url(../Assets/Images/languages/PY.svg) no-repeat;
}

.QA {
    background: url(../Assets/Images/languages/QA.svg) no-repeat;
}

.RE {
    background: url(../Assets/Images/languages/RE.svg) no-repeat;
}

.RO {
    background: url(../Assets/Images/languages/RO.svg) no-repeat;
}

.RS {
    background: url(../Assets/Images/languages/RS.svg) no-repeat;
}

.RU {
    background: url(../Assets/Images/languages/RU.svg) no-repeat;
}

.RW {
    background: url(../Assets/Images/languages/RW.svg) no-repeat;
}

.ar-SA {
    background: url(../Assets/Images/languages/SA.svg) no-repeat;
}

.SB {
    background: url(../Assets/Images/languages/SB.svg) no-repeat;
}

.SC {
    background: url(../Assets/Images/languages/SC.svg) no-repeat;
}

.SD {
    background: url(../Assets/Images/languages/SD.svg) no-repeat;
}

.SE {
    background: url(../Assets/Images/languages/SE.svg) no-repeat;
}

.SG {
    background: url(../Assets/Images/languages/SG.svg) no-repeat;
}

.SH {
    background: url(../Assets/Images/languages/SH.svg) no-repeat;
}

.SI {
    background: url(../Assets/Images/languages/SI.svg) no-repeat;
}

.SJ {
    background: url(../Assets/Images/languages/SJ.svg) no-repeat;
}

.SK {
    background: url(../Assets/Images/languages/SK.svg) no-repeat;
}

.SL {
    background: url(../Assets/Images/languages/SL.svg) no-repeat;
}

.SM {
    background: url(../Assets/Images/languages/SM.svg) no-repeat;
}

.SN {
    background: url(../Assets/Images/languages/SN.svg) no-repeat;
}

.SO {
    background: url(../Assets/Images/languages/SO.svg) no-repeat;
}

.SR {
    background: url(../Assets/Images/languages/SR.svg) no-repeat;
}

.SS {
    background: url(../Assets/Images/languages/SS.svg) no-repeat;
}

.ST {
    background: url(../Assets/Images/languages/ST.svg) no-repeat;
}

.SV {
    background: url(../Assets/Images/languages/SV.svg) no-repeat;
}

.SX {
    background: url(../Assets/Images/languages/SX.svg) no-repeat;
}

.SY {
    background: url(../Assets/Images/languages/SY.svg) no-repeat;
}

.SZ {
    background: url(../Assets/Images/languages/SZ.svg) no-repeat;
}

.TC {
    background: url(../Assets/Images/languages/TC.svg) no-repeat;
}

.TD {
    background: url(../Assets/Images/languages/TD.svg) no-repeat;
}

.TF {
    background: url(../Assets/Images/languages/TF.svg) no-repeat;
}

.TG {
    background: url(../Assets/Images/languages/TG.svg) no-repeat;
}

.TH {
    background: url(../Assets/Images/languages/TH.svg) no-repeat;
}

.TJ {
    background: url(../Assets/Images/languages/TJ.svg) no-repeat;
}

.TK {
    background: url(../Assets/Images/languages/TK.svg) no-repeat;
}

.TL {
    background: url(../Assets/Images/languages/TL.svg) no-repeat;
}

.TM {
    background: url(../Assets/Images/languages/TM.svg) no-repeat;
}

.TN {
    background: url(../Assets/Images/languages/TN.svg) no-repeat;
}

.TO {
    background: url(../Assets/Images/languages/TO.svg) no-repeat;
}

.tr-TR {
    background: url(../Assets/Images/languages/TR.svg) no-repeat;
}

.TT {
    background: url(../Assets/Images/languages/TT.svg) no-repeat;
}

.TV {
    background: url(../Assets/Images/languages/TV.svg) no-repeat;
}

.TW {
    background: url(../Assets/Images/languages/TW.svg) no-repeat;
}

.TZ {
    background: url(../Assets/Images/languages/TZ.svg) no-repeat;
}

.UA {
    background: url(../Assets/Images/languages/UA.svg) no-repeat;
}

.UG {
    background: url(../Assets/Images/languages/UG.svg) no-repeat;
}

.UM {
    background: url(../Assets/Images/languages/UM.svg) no-repeat;
}

.US-CA {
    background: url(../Assets/Images/languages/US-CA.svg) no-repeat;
}

.us {
    background: url(../Assets/Images/languages/US.svg) no-repeat;
}

.UY {
    background: url(../Assets/Images/languages/UY.svg) no-repeat;
}

.UZ {
    background: url(../Assets/Images/languages/UZ.svg) no-repeat;
}

.VA {
    background: url(../Assets/Images/languages/VA.svg) no-repeat;
}

.VC {
    background: url(../Assets/Images/languages/VC.svg) no-repeat;
}

.VE {
    background: url(../Assets/Images/languages/VE.svg) no-repeat;
}

.VG {
    background: url(../Assets/Images/languages/VG.svg) no-repeat;
}

.VI {
    background: url(../Assets/Images/languages/VI.svg) no-repeat;
}

.VN {
    background: url(../Assets/Images/languages/VN.svg) no-repeat;
}

.VU {
    background: url(../Assets/Images/languages/VU.svg) no-repeat;
}

.WF {
    background: url(../Assets/Images/languages/WF.svg) no-repeat;
}

.WS {
    background: url(../Assets/Images/languages/WS.svg) no-repeat;
}

.XK {
    background: url(../Assets/Images/languages/XK.svg) no-repeat;
}

.YE {
    background: url(../Assets/Images/languages/YE.svg) no-repeat;
}

.YT {
    background: url(../Assets/Images/languages/YT.svg) no-repeat;
}

.ZA {
    background: url(../Assets/Images/languages/ZA.svg) no-repeat;
}

.ZM {
    background: url(../Assets/Images/languages/ZM.svg) no-repeat;
}

.ZW {
    background: url(../Assets/Images/languages/ZW.svg) no-repeat;
}

.Kircali {
    background: url(../Assets/Images/sirket/logo.png) no-repeat;
}