@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uygulama hatası:</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Assets/Css/error.css" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Üzgünüm, işleminiz yapılırken bir hata meydana geldi.</h2>
            <a href="#"><span class="arrow"></span>@Html.ActionLink("Ana Sayfaya Geri Dön", "Index", "Dashboard")</a>

        </div>
    </div>
</body>
</html>