@using Bps.BpsBase.Entities.Concrete.GN
@model GNEVRK

@{
    Layout = null;
}

@Html.DevExpress().PopupControl(
    settings =>
    {
        settings.Name = "ppEvrakEkle";
        settings.Width = 600;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.PopupAnimationType = AnimationType.None;
        settings.HeaderText = "Evrak " + (Model.Id > 0 ? "Düzenle" : "Ekle");
        settings.ShowOnPageLoad = true;
        settings.Modal = true;
        settings.AutoUpdatePosition = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.ShowFooter = true;

        settings.SetContent(() =>
        {
            @Html.DevExpress().FormLayout(formLayoutsettings =>
            {
                formLayoutsettings.Name = "formEvrakEkle";

                formLayoutsettings.Items.AddGroupItem(g =>
                {
                    g.Caption = "Evrak Detayı";
                    g.ColCount = 2;

                    g.Items.Add(m => m.Id, i => { i.ClientVisible = false; });
                    g.Items.Add(m => m.SIRKID, i => { i.ClientVisible = false; });
                    g.Items.Add(m => m.EKKULL, i => { i.ClientVisible = false; });
                    g.Items.Add(m => m.ETARIH, i => { i.ClientVisible = false; });

                    g.Items.Add(m => m.TABLNM, i =>
                    {
                        i.NestedExtension().ComboBox(s =>
                        {
                            s.Name = "TABLNM";
                            s.Properties.CallbackPageSize = 15;
                            s.Properties.TextField = "TableName";
                            s.Properties.ValueField = "TableName";
                            s.Properties.DataSource = ViewData["DbTables"];
                            s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                            s.Properties.DropDownStyle = DropDownStyle.DropDown;
                        });
                    });
                    g.Items.Add(m => m.TEKNAD, i =>
                    {
                        i.NestedExtension().TextBox(s =>
                        {
                            s.Name = "TEKNAD";
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                    });
                    g.Items.Add(m => m.ISLTUR, i =>
                    {
                        i.NestedExtension().TextBox(s =>
                        {
                            s.Name = "ISLTUR";
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                    });
                    g.Items.Add(m => m.GNONEK, i =>
                    {
                        i.NestedExtension().TextBox(s =>
                        {
                            s.Name = "GNONEK";
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                    });
                    g.Items.Add(m => m.GNYEAR, i =>
                    {
                        i.NestedExtension().TextBox(s =>
                        {
                            s.Name = "GNYEAR";
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                    });
                    g.Items.Add(m => m.KARSAY, i =>
                    {
                        i.NestedExtension().TextBox(s =>
                        {
                            s.Name = "KARSAY";
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                    });
                    g.Items.Add(m => m.BASDEG, i =>
                    {
                        i.NestedExtension().TextBox(s =>
                        {
                            s.Name = "BASDEG";
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                    });
                    g.Items.Add(m => m.BITDEG, i =>
                    {
                        i.NestedExtension().TextBox(s =>
                        {
                            s.Name = "BITDEG";
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                    });
                    g.Items.Add(m => m.KALDEG, i =>
                    {
                        i.NestedExtension().TextBox(s =>
                        {
                            s.Name = "KALDEG";
                            s.ShowModelErrors = true;
                            s.Properties.ValidationSettings.Display = Display.Dynamic;
                        });
                    });
                    g.Items.Add(m => m.ACTIVE, i =>
                    {
                        i.NestedExtension().CheckBox(s =>
                        {
                            s.Name = "ACTIVE";
                            s.Checked = true;
                        });
                    });
                });

                FormLayoutHelper<GNEVRK>.Settings(formLayoutsettings);
            }).Bind(Model).Render();
        });

        settings.SetFooterTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div id='menuFormFooter'>");
            Html.RenderAction("FormFooterPartial", "Main", new { area = "", ekleJs = "FormEvrakKaydet();", iptalJs = "ppEvrakEkle.Hide();" });
            ViewContext.Writer.Write("</div>");
        });
    }).GetHtml()